@import url("/css/style.css");
.communication-container {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    background: url('../images/Background_Green.svg') no-repeat;
    background-position: right;
    background-size: contain;
  }
  
  
  .communication-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1492px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-evenly;
    padding-bottom: 180px;

    @media only screen  and (max-width : 768px) { 
        display: block;
    }
  }
  
  .communication-text, .title-text {
    font-family: 'Noto Sans', sans-serif !important;
    z-index: 3;
  }
  
  h1.title-text {
    font-weight: 100;
    color: #A1D172;
    font-size: 3.625rem;
    line-height: 60px;
  }
  
  p.communication-text {
    font-size: 1em;
  }
  
  .intro-nav {
      display: inline-flex;
      max-width: 700px;
      width: 100%;
      div {
          display:block;
          p {
              margin-top:20px;
              text-align: center;
          }

          .video-icon {
              background: url('../images/Green_VideoIcon_Normal.svg') no-repeat;
              height: 200px;
              width: 200px;
              background-position: center;
              display: inline-block;
              cursor: pointer;

              &:hover {
                background: url('../images/Green_VideoIcon_Hover.svg') no-repeat;
                background-position: center;
                height: 200px;
                width: 200px;
              }
          }
          .tool-icon {
            background: url('../images/Green_ToolIcon_Normal.svg') no-repeat;
            height: 200px;
            width: 200px;
            background-position: center;
            display: inline-block;
            cursor: pointer;

            &:hover {
              background: url('../images/Green_ToolIcon_Hover.svg') no-repeat;
              background-position: center;
              height: 200px;
              width: 200px;
            }
        }
          .info-icon {
            background: url('../images/Green_InfoIcon_Normal.svg') no-repeat;
            height: 200px;
            width: 200px;
            background-position: center;
            display: inline-block;
            cursor: pointer;

            &:hover {
              background: url('../images/Green_InfoIcon_Hover.svg') no-repeat;
              background-position: center;
              height: 200px;
              width: 200px;
            }
        }
      }

      @media only screen  and (max-width : 768px) { 
        display: block;
    }
  }
  
 .video-container {
     width: 100%;
     max-width: 1280px;
     margin: auto;

     video{
         width: 100%;
     }
 }

 ul.nav.nav-tabs.communication-intro-tabs {
    padding: 0;
    margin: 0;
  }
  .communication-intro-tabs li {
    list-style: none;
    display: inline-block;
    width: 498px;
    height: 68px;
    position: relative;

    // @media only screen  and (max-width : 768px) {
    //    display: inline;
    // }
    
    &:hover{
        background: #A1D172;
        svg path {
            fill: #fff;
        }
          
        a {
            color: #fff;
        }
    }
    &.active {
      background: #A1D172;
  
      svg path {
        fill: #fff;
      }
      
      a {
        color: #fff;
      }

    }
  
    a {
      text-decoration: none;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #777777;
      width: 498px;
      height: 60px;
      position: absolute;
      left: 20%;
      right: 88.05%;
      top: 16.43%;
      bottom: 80.89%;

      
    }
  
    svg {
      position: absolute;
      left: -60px;
    }
  }
  
  #menu2 {
      margin-left:50px;
      margin-right: 50px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 300;
      font-size:  1rem;
      line-height: 30px;
  }

  .how-to-use {
    display: inline-flex;

    .how-to-use-graph {
      position: relative;
      width: 440px;
      height: 523px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
      }

      .people {
        position: absolute;
        background: url("../images/icn_People-Focused_normal.svg") no-repeat;
        width: 70px;
        height: 70px;
        top: -46px;
        left: 114px;

        .people-focused {
          
        }
      }

      .easy {
        position: absolute;
        background: url('../images/icn_Easy-Going_normal.svg') no-repeat;
        width: 70px;
        height: 70px;
        .easy-going {
         
        }
      }

      .task {
        position: absolute;
        background: url('../images/icn_Task-Focused_normal.svg') no-repeat;
        width: 70px;
        height: 70px;

        .task-focused {
          
        }
      }

      .tell-fash {
        position: absolute;
        background: url('../images/icn_Dominant_normal.svg') no-repeat;
        width: 70px;
        height: 70px;

        .dominant {
         
        }
      }

      
    }
  }

  @media only screen  and (max-width : 768px) { 
    .communication-intro-tabs li a span, .communication-intro-tabs li.active a span {
        display: none;
    }
    
  }