@import url("/css/style.css");
.value-container {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    background: url('../images/emerald_bg.png') no-repeat;
    background-position: right;
    background-size: contain;
  }
  
  
  .value-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1492px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: space-evenly;
    padding-bottom: 180px;

    @media only screen  and (max-width : 768px) { 
        display: block;
    }
  }
  
  .value-text, .title-text {
    font-family: 'Noto Sans', sans-serif !important;
    z-index: 3;
  }
  
  h1.title-text {
    font-weight: 100;
    color: #59B17F;
    font-size: 3.625rem;
    line-height: 60px;
  }
  
  p.value-text {
    font-size: 1em;
  }
  
  .intro-nav {
      display: block;
      max-width: 700px;
      width: 100%;
      div {
          display:inline-flex;
          p {
              margin-top:60px;
          }

          .video-icon {
              background: url('../images/Video_big.svg') no-repeat;
              height: 200px;
              width: 200px;
              background-position: center;
              display: inline-block;
              cursor: pointer;

              &:hover {
                background: url('../images/Video_bigHover.svg') no-repeat;
                background-position: center;
                height: 200px;
                width: 200px;
              }
          }
          .video-icon2 {
            background: url('../images/Video_big.svg') no-repeat;
            height: 200px;
            width: 200px;
            background-position: center;
            display: inline-block;
            cursor: pointer;

            &:hover {
              background: url('../images/Video_bigHover.svg') no-repeat;
              background-position: center;
              height: 200px;
              width: 200px;
            }
        }
          .info-icon {
            background: url('../images/Emerald_TemplateIcon.svg') no-repeat;
            height: 200px;
            width: 200px;
            background-position: center;
            display: inline-block;
            cursor: pointer;

            &:hover {
              background: url('../images/Emerald_TemplateIcon_hover.svg') no-repeat;
              background-position: center;
              height: 200px;
              width: 200px;
            }
        }
      }

      @media only screen  and (max-width : 768px) { 
        display: block;
    }
  }
  
 .video-container {
     width: 100%;
     max-width: 1280px;
     margin: auto;

     video{
         width: 100%;
     }
 }

 ul.nav.nav-tabs.value-intro-tabs {
    padding: 0;
    margin: 0;
  }
  .value-intro-tabs li {
    list-style: none;
    display: inline-block;
    width: 498px;
    height: 68px;
    position: relative;

    // @media only screen  and (max-width : 768px) {
    //    display: inline;
    // }
    
    &:hover{
        background: #4074B2;
        svg path {
            fill: #fff;
        }
          
        a {
            color: #fff;
        }
    }
    &.active {
      background: #4074B2;
  
      svg path {
        fill: #fff;
      }
      
      a {
        color: #fff;
      }

    }
  
    a {
      text-decoration: none;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #777777;
      width: 498px;
      height: 60px;
      position: absolute;
      left: 20%;
      right: 88.05%;
      top: 16.43%;
      bottom: 80.89%;

      
    }
  
    svg {
      position: absolute;
      left: -60px;
    }
  }
  
  #menu2 {
      margin-left:50px;
      margin-right: 50px;
      font-family: Noto Sans;
      font-style: normal;
      font-weight: 300;
      font-size:  1rem;
      line-height: 30px;
  }

  @media only screen  and (max-width : 768px) { 
    .value-intro-tabs li a span, .value-intro-tabs li.active a span {
        display: none;
    }
    
  }