@import url("/css/style.css");
.structuring-container {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  background: url("../images/orange_GrouppedBG.png") no-repeat;
  background-position: right;
  background-size: contain;
}

.structuring-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1492px;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: space-evenly;
  padding-bottom: 180px;
}

@media only screen and (max-width: 768px) {
  .structuring-content {
    display: block;
  }
}

.structuring-text, .title-text {
  font-family: 'Noto Sans', sans-serif !important;
  z-index: 3;
}

h1.title-text {
  font-weight: 100;
  color: #E77052;
  font-size: 3.625rem;
  line-height: 60px;
}

p.structuring-text {
  font-size: 1em;
}

.intro-nav {
  display: block;
  max-width: 700px;
  width: 100%;
}

.intro-nav div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.intro-nav div p {
  margin-top: 60px;
}

.intro-nav div .video-icon {
  background: url("../images/orange_MGraphics_normal.svg") no-repeat;
  height: 200px;
  width: 200px;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.intro-nav div .video-icon:hover {
  background: url("../images/orange_MGraphics_hover.svg") no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
}

.intro-nav div .video-icon2 {
  background: url("../images/orange_Example_normal.svg") no-repeat;
  height: 200px;
  width: 200px;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.intro-nav div .video-icon2:hover {
  background: url("../images/orange_Example_hover.svg") no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
}

.intro-nav div .info-icon {
  background: url("../images/orange_Template_normal.svg") no-repeat;
  height: 200px;
  width: 200px;
  background-position: center;
  display: inline-block;
  cursor: pointer;
}

.intro-nav div .info-icon:hover {
  background: url("../images/orange_Template_hover.svg") no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .intro-nav {
    display: block;
  }
}

.video-container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.video-container video {
  width: 100%;
}

.video-container a {
  margin: 55px auto;
  display: block;
  width: 250px;
}

.video-container a button {
  background: #E77052;
  border-radius: 5px;
  height: 60px;
  border: none;
  width: 250px;
  color: #FFFFFF;
  font-family: Noto Sans;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.video-container a button:hover {
  background: #722601;
}

ul.nav.nav-tabs.structuring-intro-tabs {
  padding: 0;
  margin: 0;
}

.structuring-intro-tabs li {
  list-style: none;
  display: inline-block;
  width: 498px;
  height: 68px;
  position: relative;
}

.structuring-intro-tabs li:hover {
  background: #E77052;
}

.structuring-intro-tabs li:hover svg path {
  fill: #fff;
}

.structuring-intro-tabs li:hover a {
  color: #fff;
}

.structuring-intro-tabs li.active {
  background: #E77052;
}

.structuring-intro-tabs li.active svg path {
  fill: #fff;
}

.structuring-intro-tabs li.active a {
  color: #fff;
}

.structuring-intro-tabs li a {
  text-decoration: none;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #777777;
  width: 498px;
  height: 60px;
  position: absolute;
  left: 20%;
  right: 88.05%;
  top: 16.43%;
  bottom: 80.89%;
}

.structuring-intro-tabs li svg {
  position: absolute;
  left: -60px;
}

#menu2 {
  margin-left: 50px;
  margin-right: 50px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .structuring-intro-tabs li a span, .structuring-intro-tabs li.active a span {
    display: none;
  }
}
/*# sourceMappingURL=structuring.css.map */